body {
  background-color: lightblue;
  font-size: 16px;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

#grid-wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-column-gap: 2px;
  width: 75vw;
  height: 65vh;
  margin: 0 auto;
}

#messages-wrapper, #users-wrapper {
  background-color: white;
  margin: 0 auto;
  overflow: auto;
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

#messages-viewer, #users-viewer {
  overflow: auto;
  height: 100%;
  padding: 0 .5em;
}

#input-bar, #username-bar {
  padding: .5em .5em;
  border-top: 1px solid black;
}

#message-input {
  width: 60%;
}

#username-input {
  width: 50%;
}

span.username-prefix {
  font-weight: bold;
}

.other-message {
  text-align: left;
  padding-left: 1em;
  color: red;
}

.own-message {
  text-align: right;
  padding-right: 1em;
  color: blue;
}

/*[data-time]::before {
  content: "";
  position: absolute;
  right: 5px;
  opacity: 0;
}

[data-time]:hover::before {
  content: attr(data-time);
  opacity: 1;
  transition-duration: 1s;
  transition-delay: .5s;
}*/

li {
  text-align: left;
  color: red;
}

li.own-user {
  color: blue;
}

#error-message {
  color: red;
}
