html {
  box-sizing: border-box;
  height: 100vh; /* fallback */
  height: calc(var(--vh, 1vh) * 100); /* found on CSS Tricks */
  transition: height .2s;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: lightblue;
  font-size: 16px;
  text-align: center;
  font-family: serif;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
}

#menu-outer-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
}

#menu-logo {
  padding-left: 2px;
  padding-right: 2px;
  margin: auto 0 auto .4em;
  color: black;
  font-size: 2.5em;
  font-weight: bold;
  cursor: pointer;
  transition: color .2s;
}

#menu-logo:hover {
  color: gray;
}

#menu-logo:active {
  color: white;
}

#menu-inner-wrapper {
  position: relative;
}

#menu {
  position: absolute;
  background-color: lightgray;
  width: 300px;
  opacity: .9;
  text-align: left;
  transition: left .2s;
}

.menu-item {
  font-size: 1.5em;
  border-top: 1px solid black;
  border-left: 1px solid black;
  box-shadow: 1px 1px 1px black;
}

.menu-out {
  left: -301px; /* must equal #menu width + .menu-item border*/
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.menu-in {
  left: 0;
  user-select: auto;
  -moz-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
}

h1 {
  margin: .5em auto;
  font-size: 2em;
  transition-duration: .15s;
}

h2 {
  font-size: 1.5em;
  transition-duration: .15s;
}

input {
  font-size: 16px;
  font-family: serif;
}

#grid-wrapper {
  display: grid;
  height: 100%;
  overflow: auto;
}

.inner-wrapper {
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.viewer {
  overflow: auto;
  padding: 0 .5em;
  height: 100%;
  background-color: linen;
  border-top: 1px solid black;
}

#messages-viewer {
  display: flex;
  flex-direction: column-reverse;
}

#messages {
  overflow: auto;
}

.bottom-bar {
  padding: 1em 1em;
  border-top: 1px solid black;
}

#message-input {
  width: 60%;
}

#username-input {
  width: 50%;
}

span.username-prefix {
  font-weight: bold;
}

.other-message {
  text-align: left;
  padding-left: 1em;
  color: red;
}

.own-message {
  text-align: right;
  padding-right: 1em;
  color: blue;
}

li {
  text-align: left;
  color: red;
}

#own-user {
  color: blue;
}

@keyframes bad-username-animation {
  from {color: black;}
  to {color: red;}
}

.bad-username {
  animation: .2s 4 alternate bad-username-animation;
}

@keyframes taken-username-animation {
  from {color: red;}
  to {color: black;}
}

.taken-username {
  animation: .2s 4 alternate taken-username-animation;
}


/* media queries for responsive design*/

@media screen and (max-width: 600px) {
  #grid-wrapper {
    grid-auto-columns: 100%;
    grid-template-rows: 55% 45%;
  }

  h2 {
    margin-top: .5em;
    margin-bottom: .5em;
  }

  .bottom-bar {
    padding: .5em 1em;
  }

}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.4em;
  }
}

@media screen and (max-height: 350px) {

  h2 {
    font-size: 1.25em;
    margin-top: .4em;
    margin-bottom: .4em;
  }

  .bottom-bar {
    padding: .5em 1em;
  }
}

@media screen and (max-width: 600px) and (max-height: 500px) {
  #grid-wrapper {
    grid-template-rows: 100% 100%;
  }
}

@media screen and (min-width: 601px) {
  #grid-wrapper {
    grid-template-columns: 60% 40%;
    grid-auto-rows: 100%;
  }
}


