body {
  background-color: lightblue;
  font-size: 16px;
  text-align: center;
}

h1 {
  font-size: 2em;
}

#message-viewer {
  margin: 1em auto;
  overflow: auto;
  width: 215px;
  height: 220px;
  border: 1px solid black;
  resize: both;
}

.other-message {
  text-align: left;
  padding-left: 1em;
  color: red;
}

.own-message {
  text-align: right;
  padding-right: 1em;
  color: blue;
}

/*
trying to make timestamp appear as tooltip on hover:

[data-time]::before {
  content: attr(data-time);
  position: absolute;
  right: 500px;
  opacity: 0;
}

[data-time]:hover::before {
  opacity: 1;
}
*/
